#目标平台
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y


CONFIG_PACKAGE_qos-gargoyle=y
CONFIG_PACKAGE_luci-app-qos-gargoyle=y
CONFIG_PACKAGE_luci-i18n-qos-gargoyle-zh-cn=y


