<%#
-- Copyright 2017 Xingwang Liao <kuoruan@gmail.com>
-- Licensed to the public under the Apache License 2.0.
-- Modified 2026 by ilxp <https://github.com/ilxp/gargoyle-qos-openwrt>
-%>

<% css = [[

	#showstatus_text {
		padding: 20px;
		text-align: left;
	}
	#showstatus_text pre {
		word-break: break-all;
		margin: 0;
	}
	.description {
		background-color: #33CCFF;
	}

]]
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
	XHR.poll(15, '<%=url("admin/qos/qos_gargoyle/showstatus/data")%>', null,
		function(x, data) {
			var status = document.getElementById('showstatus_text');
			if (data.hasOwnProperty("show")) {
				status.innerHTML = String.format(
					'<pre>%s%s%s%s</pre>',
					'<span class="description">Output of &#34;/etc/init.d/qos_gargoyle show&#34; : </span><br /><br />',
					data.show,
					'<br /><br /><span class="description">Output of &#34;cat /tmp/qosacc.status&#34; : </span><br /><br />',
					data.mon
				);
			} else {
				status.innerHTML = '<strong><%:Error collecting showstatus information%></strong>';
			}
		}
	);
//]]></script>

<div id="troubleshoot">
	<fieldset class="cbi-section">
		<legend><%:Showstatus Data%></legend>
		<div id="showstatus_text"><img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /><%:Collecting data...%></div>
	</fieldset>
</div>

<%+footer%>
